/*--------------------------------------------------------------
  27. Posts
----------------------------------------------------------------*/
.cs-border--single{
  height: 1px;
  background-color: $border;
  width: 100%;
}

.cs-single--info{
  display: flex; 
  gap: 15px;
  margin-bottom: 10px;
}

.cs-comment-user-info{
  display: flex;
  gap: 20px;
  align-items: center;
}
.comment-reply{
  margin-left: 40px;
}

.cs--tag-single{
  display: flex;
  align-items: center;
  gap: 15px;
  ul{
    li{
      margin-bottom: 0px !important;
    }
  }
}

.cs--tag-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
@media screen and (max-width: 600px) {
  .cs--tag-social{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    .cs--share{
      ul{
        li{
          height: 35px;
          width: 35px;
        }
      }
    }
  }
}
.cs-social-common.cs--share{
  display: flex;
  gap: 15px;
  align-items: center;
  padding-top: 0px;
  ul{
    li{
      border: 1px solid $dark-bg;
      &:last-child{
        margin: 0px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .cs--single-page{
    .row.for-bs > *:nth-child(-n+1) {
      padding-bottom: 50px;
    }
  }
  .similar-post > *:nth-child(-n+2) {
    padding-bottom: 30px;
  }
  .cs--content-container{
    .row{
      .row.for--standard > *:nth-child(-n+6) {
        padding: 10px;
        margin-bottom: 20px;
      }
    }
  }
}

.cs--content-container{
  .row{
    .row.for--standard > *:nth-child(-n+6) {
      padding: 10px;
      margin-bottom: 20px;
    }
  }
  .row > *:nth-child(-n-1){
    margin-bottom: 40px;
  }
}